<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.somboi.rodaimpian">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <meta-data android:name="applovin.sdk.key"
            android:value="84iGEQC1TLw1OSQlKC08uHPyeRtHIMi2fJQCZScJ_BF0EFUUwB5nJSN5qUnxtxbkTPqEGR1Nqc8B3EnorQmL1D"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_ads_id" />

        <activity android:name=".activities.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        </activity>
        <activity android:name=".activities.LeaderBoard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar">
        </activity>
        <activity android:name=".activities.CommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".AndroidLauncherNew"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <service
            android:name=".ui.FireService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>